{% extends 'base.html' %}

{% block body %}
    <section>
        <h1>BioGPT UI</h1>
        <div id="response">Awaiting request...</div>
    </section>
    <footer>
        <form
                id="form"
                action="{% url 'model_api' %}"
                method="POST"
        >
            {% csrf_token %}
            <label class="range">
                Max Response Length
                <input type="number" min="10" max="500" value="50" step="10" name="max_length">
            </label>
            <label class="prompt">
                <textarea placeholder="Prompt BioGPT" name="prompt">Pneumonia is caused by</textarea>
            </label>
            <button type="submit" id="submit">
                Send
            </button>
        </form>
    </footer>
{% endblock %}